.git
.gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
dist/
pip-wheel-metadata/
*.egg-info/
.pytest_cache/
pytest_cache/
.pytest.ini
.coverage
htmlcov/
*.sqlite3
*.log
logs/
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
.dockerignore
.vscode/
.idea/
.DS_Store
.env
.env*
.env-example
*.swp
.mypy_cache
.ruff_cache
README.md
Makefile
.pre-commit-config.yaml